.banner{
	width: 100%;
	height: auto;
	
	img{
		width: 50px;
	}
	.small{
		width: 100%;
		padding: 10px;
	}
}

.content{
	background-image: url(/images/background.png);
	background-repeat: repeat-x;
	padding: 50px;
}

#portfolioMenu{

	width: 100%;
	height: auto;
	background-color: #333;
	margin-bottom: 50px;
	padding: 10px 15px;
	
	a {
		color: #fff;
		text-decoration: none;
		padding-left: 25px;
		padding-right: 25px;
		
		&:hover{
			color: #ff6e00;
		}
	}
}
